<div class="cartContainer">
        <h1>iCommerce</h1>
  {{#if user}}
    <div class="userData">
      <div id="userNameContainer">
      <p><strong>Welcome: </strong>{{user.first_name}}</p>
      <img id="userAvatar" src="{{user.avatar}}" alt="user avatar">
    </div>
      <p style="color:red; text-transform: uppercase"><strong
          style="color:black; text-transform: capitalize"
        >Role: </strong>{{user.role}}</p>
      <a class="userCartBtn" href="/products"><p>Products</p></a>
      <a class="userCartBtn" href="/api/sessions/logout"><strong>LOGOUT</strong></a>
    </div>
  {{/if}}
  <h1 class="firstTitle" id="cartTitle" data-id="{{cart._id}}">{{mainTitle}}</h1>
  {{#if cart.products}}
  {{#each cart.products}}
    {{#with this}}
      <div class="realTimeCartProds" id="realTimeCartProds">
        <div class="cartProdImgContainer">
          <img
            class="cartProdImg"
            src={{product.thumbnail}}
            alt="{{product.title}}"
          />
        </div>
        <div class="cartProdDataCard">
          <p>Product:</p>
          <h2>{{product.title}}</h2>
        </div>
        <div class="cartProdDataCard">
          <p>Quantity:</p>
          <h2>{{quantity}}</h2>
        </div>
        <div class="cartProdDataCard">
          <p>Description:</p>
          <h2>{{product.description}}</h2>
        </div>
        <div class="cartProdDataCard">
          <p>Unit price:</p>
          <h2>U$S {{product.price}}</h2>
        </div>
        <button class="deleteButtonCart" data-id={{product._id}}><img class="deleteImg" src="https://cdn-icons-png.flaticon.com/512/1017/1017530.png" alt="delete"></button>
      </div>
    {{/with}}
  {{/each}}
  <div class="finalButtonsConteiner">
    <input type="hidden" id="userEmail" value={{user.email}}>
    <button class="cartButton" id="confirmCart">FINISH PURCHASE</button>
    <button class="cartButton" id="emptyCart">EMPTY CART</button>
  </div>
  {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>