<div class="userData">
    <h1>iCommerce</h1>
    <div id="userNameContainer">
      <p><strong>Welcome: </strong>{{user.first_name}}</p>
      <img id="userAvatar" src="{{user.avatar}}" alt="user avatar">
    </div>
    <p style="color:red; text-transform: uppercase" id="role"><strong style="color:black; text-transform: capitalize">Role: </strong>{{user.role}}</p>
    <a class="userCartBtn" id="cart" href="/cart/{{user.cartId._id}}"><p>My cart</p><svg class="cartSvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg></a>
    {{#if dashboard}}
    <a class="userCartBtn" href="/user/dashboard"><strong>DASHBOARD</strong></a>
    {{/if}}
    <a class="userCartBtn" href="/api/sessions/logout"><strong>LOGOUT</strong></a>
  </div>
<h2 id="createProd" class="secondTitle">ADD PRODUCT:</h2>
<form>
  <div class="form-group">
    <label for="thumbnail">Image URL:</label>
    <input type="text" id="thumbnail" name="thumbnail" required />
  </div>
  <div class="form-group">
    <label for="title">Name:</label>
    <input type="text" id="title" name="title" required />
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <div class="form-group">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" required />
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required />
  </div>
    <div class="form-group">
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required />
  </div>
  <input type="hidden" id="owner" value={{user.email}}>
  <input type="submit" value="Submit" id="addProductSubmitBtn"/>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/real-time-products.js"></script>